<launch>

<!-- Load the URDF into the ROS Parameter Server -->
  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find adv_comm/my_xacro) /root/catkin_ws/src/adv_sim/my_xacro/newrobot.xacro'" />
  
  <param name="robot_description" command="$(arg urdf_file)" />
    
  <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen" clear_params="true">
      <rosparam file="$(find rbx1_bringup)/config/fake_turtlebot_arbotix.yaml" command="load" />
      <param name="sim" value="true"/>
  </node>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
      <param name="publish_frequency" type="double" value="20.0" />
  </node>
  
</launch>


