<?xml version="1.0"?>
<launch>

<arg name="use_sim_time" default="true"/>

<!-- Load the URDF into the ROS Parameter Server -->
  <arg name="model" default="/root/catkin_ws/src/adv_sim/my_xacro/newrobot.xacro" />
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
      <param name="publish_frequency" type="double" value="20.0" />
  </node>


<node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find hector_slam_launch)/rviz_cfg/amcl_demo.rviz"/>
</launch>




